# General
.DS_Store
.vscode/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Data and Databases (Confidential)
*.db
*.sqlite
*.sqlite3
*.sql
backend/*.csv
backend/uploads/
*.pdf
*.csv

# Build artifacts
frontend/dist/
backend/dist/
backend/build/
